/**
 * Shadows
 */
.drop-shadow {
	position: relative;
	float: left;
	padding: 10px;
	margin: 10px;
	width: 95%;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
	background: #ffffff;
}

/**
 * Collumn Styles
 */
.one_half {
	width: 48%;
}

.one_third {
	width: 30.5%;
}

.one_fourth {
	width: 22%;
}

.one_fifth {
	width: 16.8%;
}

.one_sixth {
	width: 13.33%;
}

.two_fifth {
	width: 37.6%;
}

.two_third {
	width: 65.33%;
}

.three_fifth {
	width: 58.4%;
}

.three_fourth {
	width: 74%;
}

.four_fifth {
	width: 67.2%;
}

.five_sixth {
	width: 82.67%;
}

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
	{
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.column-last {
	margin-right: 0 !important;
	clear: right;
}

.tabs_type_2 .one_third {
	width: 29%;
}

.hrline_silver {
	background-color: #ddd;
	margin-top: 12px;
	margin-bottom: 12px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}

.hrline_gray {
	background-color: #ccc;
	margin-top: 12px;
	margin-bottom: 12px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}

.hrline_black {
	background-color: #000;
	margin-top: 12px;
	margin-bottom: 12px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}

.hrline_red {
	background-color: #c00;
	margin-top: 12px;
	margin-bottom: 12px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Lightbox
 */
.black_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 2001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity =                                               80);
}

.white_content {
	display: none;
	position: fixed;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 70%;
	padding: 15px;
	background-color: white;
	z-index: 2002;
	overflow: auto;
	color: #000;
}

.white_content h1 {
	display: inline;
	margin: 5px;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}

/**
 * General
 */
.forum {
	width: 100%;
	padding: 5px;
	margin: 5px;
}

.forum a {
	text-decoration: none;
	font-weight: bold;
}

.forum_menu {
	float: right;
	margin-bottom: 8px;
}

.dragText,.inline_form {
	display: none;
}

.inlineEdit input {
	display: none;
}

.elements_container {
	background-color: #FCFCFF;
	margin: 10px 0px;
}

/**
 * Forum Elements
 */
.forum_element {
	color: #000000;
}

.forum_element_info {
	font-size: 13px;
	font-weight: lighter;
	color: #424242;
}

.forum .element_title {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	padding-top: 8px;
}

.forum .forum_element .element_text {
	font-size: 15px;
}

/**
 * Boards
 */
.forum .forum_element .icon_on,.forum .forum_element .icon_off {
	height: 41px;
	width: 38px;
	float: left;
	margin: 10px 0 10px 4px;
}

.forum .forum_element .icon_on {
	background-image: url(img/on.png);
}

.forum .forum_element .icon_off {
	background-image: url(img/off.png);
}

.forum .forum_element .sub_boards li {
	padding-left: 5px;
}

.forum .forum_element .sub_boards li {
	list-style-type: none;
}

.forum .forum_element .board_content {
	margin: 0px 0px 0px 56px;
}

.forum .page_numbers {
	padding: 10px;
	margin: 0px auto;
	width: 400;
}

/**
 * Threads
 */
.thread_wrapper {
	margin: 10px 0px;
}

.thread_wrapper .forum_element {
	padding: 5px 10px;
}

.thread_wrapper .element_title {
	font-size: 18px;
	display: inline;
}

.thread_unread {
	background-color: #FFFFC8;
}

.thread_normal {
	background-color: #ffffff;
}

.forum .forum_element .thread_content {
	margin-top: 4%;
	margin-left: 20px;
	margin-bottom: 5px;
}

/**
 * Posts
 */
.post {
	margin-bottom: 16px;
	color: black;
	padding: 10px;
}

.post .forum_profile {
	float: left;
	text-align: center;
}

.post .forum_profile .profile_info {
	padding-left: 5px;
}

.post .avatar {
	background: #fff;
	padding: 2px;
	border: 1px solid #d8d8d8;
	position: relative;
}

.post .username {
	color: #383838;
	font-weight: bold;
	clear: left;
}

.post .comment_box {
	float: right;
	padding-bottom: 8px;
	height: auto;
	background: #fff;
	border: 1px solid #d8d8d8;
	position: relative;
	width: 75%;
}

.post .comment_box:before {
	content: '';
	width: 15px;
	height: 15px;
	background: #fff;
	border-left: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	position: absolute;
	top: 50px;
	left: -8px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.post .comment_inner {
	color: #454545;
	line-height: 14px;
	margin: 4px 10px 0 15px;
}

.post .comment_inner:focus {
	outline: none;
}

.post .last_edit {
	font-size: 11px;
	color: #b7b7b7;
	text-decoration: none;
	margin-top: 8px;
	position: relative;
	float: left;
}

.post .date {
	font-size: 11px;
	color: #b7b7b7;
	margin-top: 8px;
	text-decoration: none;
	float: right;
}

.post .forum_signature {
	max-height: 145;
	overflow: hidden;
}